@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1120px;
  margin: auto;
  background-color: #f3f3f3;
}
/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 109px;
}
header .nav {
  display: flex;
  gap: 31px;
}
header h2 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 50px;
  color: #181717;
}
header .nav p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 22px;
  color: #181717;
}

/* main */

section h1 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 60px;
  color: #181717;
  margin-bottom: 32px;
}
section p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 22px;
  color: #606060;
  margin-bottom: 52px;
}

section .nav {
  display: flex;
  justify-content: space-between;
}
section .inputs input {
  display: block;
}

section .inputs input::placeholder {
  color: #c4c4c4;
}

section .inputs {
  /* width: 676px; */
}
section .nav .inputs .up {
  padding-left: 22px;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 15px;
  color: black;
  width: 676px;
  height: 50px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #c4c4c4;
}
section .nav .inputs .down {
  padding-left: 27px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 15px;
  color: black;
  width: 676px;
  height: 50px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #c4c4c4;
}

section .nav .text .p1 {
  margin-top: -10px;
  margin-bottom: 30px;
}

section .nav .text {
  margin-left: 90px;
}

section button {
  margin-bottom: 102px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  width: 162px;
  height: 42px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .nav {
  display: flex;
  gap: 30px;
}
footer p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 22px;
  color: #2429af;
}
footer .nav a {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 22px;
  color: #181717;
  text-decoration: none;
}
